  
  body{
   background-color: #a53ac0;  

      }
  
  .header, .main, .footer{
    width: 90%;
    margin: 20px auto;
  }
  
  .header{
    background-color: #c608f6;
  }
  
  .mi-nav{
    display: flex;
    font-family: 'Chakra Petch', sans-serif;
    font-size: xxlarge;
    background-color: #040c67;
  }
  
  #tarjetas{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  } 
 
  .tarjeta{
    background-color: #1f6594;
    font-family: 'Chakra Petch', sans-serif;
    font-size: large;
    color: aliceblue;    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(11, 4, 200);
    border-radius: 10px ;
    margin: 6px;
    }
  
  .footer{
    font-family: 'Chakra Petch', sans-serif;
    font-size: x-large;
    background-color: #040c67;
    color: aliceblue;  
    clear: both;
    padding: 10px 0px;
    text-align: center;
  }
  